<div class="container is-fluid mt-3">

    <div class="tile is-ancestor">

        <div class="tile is-vertical">
            <div class="tile">

                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <!-- <line-chart></line-chart> -->
                        <div class="level mb-3">
                            <div class="level-left">
                                <p class="is-size-7 has-text-weight-semibold">Total progress in project</p>
                            </div>
                            <div class="level-right">
                                <button class="button is-ghost is-small">View more</button>
                            </div>
                        </div>
                        <div class="has-text-centered">
                            <!-- <circular-progress [valuePct]="23"></circular-progress> -->
                        </div>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <div class="level mb-3">
                            <div class="level-left">
                                <p class="is-size-7 has-text-weight-semibold">Total progress in project</p>
                            </div>
                            <div class="level-right">
                                <button class="button is-ghost is-small">View all</button>
                            </div>
                        </div>
                        <div class="has-text-centered">
                            <!-- <circular-progress [valuePct]="64"></circular-progress> -->
                        </div>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <ng-container *ngIf="location.disp; else weatherLoading">
                            <div class="block mb-0">
                                <p class="has-text-weight-semibold is-size-5">{{location.village}}, {{location.state}}</p>
                            </div>
                            <div class="block is-flex is-align-items-center mb-0" style="gap: 4rem;">
                                <p class="is-size-1 has-text-weight-medium">{{location.weather}}º</p>
                                <img src="http://openweathermap.org/img/wn/{{location.icon}}@2x.png" alt="icon">
                            </div>
                            <div class="block">
                                <p>{{location.w_desc | titlecase}}</p>
                            </div>
                        </ng-container>
                        <ng-template #weatherLoading>
                            <div class="has-text-centered">
                                <p>Location not available</p>
                                <!-- <svg height="200" width="200">
                                    <polygon points="50,0 0,50 50,100 0,150 50,200 100,150 150,200 200,150 150,100 200,50 150,0 100,50" fill="none" stroke="#000" stroke-width="1" />
                                </svg> -->
                            </div>
                        </ng-template>
                    </article>
                </div>
            </div>
            <div class="tile">

                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p>Tienes 4 notificaciones sin ver </p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <bar-chart></bar-chart>
                    </article>
                </div>
            </div>
        </div>

    </div>
</div>