<div class="container is-fluid mt-3">

    <div class="tile is-ancestor">
        <div class="tile is-vertical">
            <div class="tile">

                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <!-- <line-chart></line-chart> -->
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <bar-chart></bar-chart>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <div class="block">
                            <p>{{location.village}}, {{location.state}}</p>
                        </div>
                        <div class="block">
                            <p>{{location.weather}}º {{location.w_desc}}</p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p>4</p>
                </article>
            </div>
        </div>
    </div>
</div>