<!-- <mat-tab-group mat-align-tabs="center">
    <mat-tab label="First"> Content 1 </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group> -->

<div class="container is-fluid mt-3">

    <div class="tile is-ancestor">
        <div class="tile is-vertical">
            <div class="tile">

                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <!-- <line-chart></line-chart> -->
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <bar-chart></bar-chart>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <div class="block">
                            <p>Madrid, Comunidad de Madrid</p>
                        </div>
                        <div class="block">
                            <p>32º Soleado</p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p>4</p>
                </article>
            </div>
        </div>
    </div>
</div>


<!-- <button class="button is-link mt-6" (click)="toggleModal()">Modal</button>

<div class="modal" [ngClass]="{'is-active': opened}">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Modal title</p>
            <button class="delete" aria-label="close" (click)="toggleModal()"></button>
        </header>
        <section class="modal-card-body">
            <p>Holaaaa</p>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success">Save changes</button>
            <button class="button">Cancel</button>
        </footer>
    </div>
</div> -->