.mat-drawer-content {
    overflow: hidden;
}

mat-sidenav {
    width: 20rem;
    /* transition: .2s; */
}

#sideNavBtn {
    position: fixed;
    top: 2rem;
    left: 2rem;
    z-index: 105;
}

@media (max-width: 500px) {
    mat-sidenav {
        width: 100%;
    }
}