<aside class="menu">
    <p class="menu-label">
        General
    </p>
    <ul class="menu-list">
        <li><a routerLinkActive="is-active" [routerLink]="['/dashboard']" (click)="clickLink()">Dashboard</a></li>
        <li><a>Projects</a></li>
    </ul>
    <p class="menu-label">
        Administration
    </p>
    <ul class="menu-list">
        <li><a>Team</a></li>
        <li><a>Tasks</a></li>
        <li><a routerLinkActive="is-active" [routerLink]="['/customers']" (click)="clickLink()">Customers</a></li>
        <li><a>File Management</a></li>
        <li><a>Authentication</a></li>
    </ul>
    <p class="menu-label">
        Analytics
    </p>
    <ul class="menu-list">
        <li><a>Transfers</a></li>
        <li><a>Balance</a></li>
    </ul>
    <p class="menu-label">
        Account
    </p>
    <ul class="menu-list">
        <li><a>Settings</a></li>
        <li><a>Log out</a></li>
    </ul>
</aside>